.size-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .size-wrapper {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1200px) {
  .size-wrapper {
    max-width: 768px;
  }
}
@media screen and (max-width: 940px) {
  .size-wrapper {
    max-width: 500px;
  }
  .section-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 520px) {
  .size-wrapper {
    max-width: 320px;
  }
  .section-title {
    font-size: 14px;
  }
}
.section-title {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: $subtitleMainPartColor;
}
