.page__footer {
  display: block;
  background-color: #000;
  padding-top: 66px;
  padding-bottom: 70px;
  .footer__title {
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
  }
  .footer__content {
    text-align: center;
    display: block;
    color: $footerContentColor;
    margin-top: 22px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    max-width: 690px;
  }
  .footer__additional-info {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    .add-info__element {
      display: block;
      width: max-content;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;

      color: $footerContentColor;

      a {
        text-decoration: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $footerContentColor;
      }
    }
    .add-info__element::after {
      display: inline-block;
      content: "/";
      margin-left: 8px;
      margin-right: 8px;
    }
    .add-info__element:last-of-type::after {
      content: "";
      margin: 0;
    }
  }
  .footer__IconsList {
    width: max-content;
    display: flex;
    column-gap: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    .footer__icon {
      width: 34px;
      height: 34px;
      background-color: #000;
      border: 2px solid;
      border-radius: 30px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .footer__icon--yellow {
      border: 2px solid #f8902e;
    }
    .footer__icon--blue {
      border: 2px solid #39599f;
    }
    .footer__icon--lightBlue {
      border: 2px solid #45b0e3;
    }
    .footer__icon--pink {
      border: 2px solid #d97ab0;
    }
    .footer__icon--red {
      border: 2px solid #cc212c;
    }
  }
}
@media screen and (max-width: 1200px) {
  .page__footer {
    padding-top: 57px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 940px) {
  .page__footer {
    padding-top: 38px;
    padding-bottom: 47px;
    .footer__title {
      font-size: 14px;
    }

    .footer__content {
      width: 100%;
      padding-right: 35px;
      padding-left: 35px;
      font-size: 12px;
    }
    .footer__additional-info {
      flex-direction: column;
      align-items: center;
      .add-info__element {
        a {
          font-size: 14px;
        }
      }
    }
  }
}
