.header-navbar {
  justify-content: space-between;
  .header-nav__el {
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $navTextColor;
      font-family: Roboto;
      font-weight: normal;
      font-size: 11px;
    }
    a:hover {
      color: $navTextColorHover;
    }
    .nav-el--blue {
      color: $navTextColorHover;
    }
  }
}
@media screen and (min-width: 1200px) {
  .header-navbar {
    display: flex;
    padding: 16px 179px;

    margin-top: 29px;
    margin-bottom: 34px;
  }
  .mobile-header__btn {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header-navbar {
    display: flex;
    padding-top: 15px;
    padding-bottom: 18px;

    margin-top: 23px;
    margin-bottom: 28px;
  }
  .mobile-header__btn {
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .mobile-header__btn {
    display: flex;
  }
  .header-navbar {
    display: none;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 37px;
    width: 162px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .header-nav__el {
      position: relative;
      height: 32px;
      display: flex;
      align-items: center;
      a {
        padding-left: 13px;
        padding-top: 11px;
        display: block;
        width: 100%;
        height: 100%;
        background: #f5f5f5;
      }

      a:hover {
        background: #e5e5e5;
        color: $navTextColor;
      }
    }
  }
}

.mobile-header__btn {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  border: none;
  width: 44px;
  height: 37px;
  background: rgb(0, 0, 0);

  margin-top: 23px;
  margin-bottom: 20px;
  .btn__decoration--passive {
    display: none;
    position: relative;
    .btn-decor__line {
      width: 17px;
      height: 2px;
      margin: 1px;

      background: #ffffff;
    }
  }
  .btn__decoration--active {
    display: none;
    position: relative;
    .btn-decor__line {
      position: relative;
      top: 1.6px;
      width: 17px;
      height: 2px;
      transform: rotate(45deg);

      background: #ffffff;
    }
    .btn-decor__line--rotated {
      position: relative;
      top: -0.4px;
      transform: rotate(-45deg);
    }
  }
}
.header-navbar.active {
  display: flex;
}
.btn__decoration--active.active {
  display: block;
}
.btn__decoration--passive.active {
  display: block;
}
