.inst-shots {
  display: block;
  background-color: #f7f7f7;
  .inst-shots__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 24px;
    padding-top: 47px;

    a {
      text-transform: uppercase;
      font-size: 13px;
      color: $subtitleMainPartColor;
      text-decoration: none;
      font-family: "Roboto";
      font-weight: 700;
    }
    a:hover {
      color: $navTextColorHover;
    }
  }

  .shots__gallery {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    .shots-gallery__item:last-child {
      display: block;
    }

    .shots-gallery__item {
      img {
        width: 285px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .shots-gallery__item:last-child {
      display: none;
    }

    .shots-gallery__item {
      img {
        width: 250px;
      }
    }
  }
  @media screen and (max-width: 940px) {
    .shots-gallery__item {
      img {
        width: 300px;
        display: none;
      }
    }
    .shots-gallery__item:first-child {
      img {
        display: block;
      }
    }
    .inst-shots__header {
      a {
        display: none;
      }
    }
  }
}
