.intro-img {
  display: block;
  width: 100%;
}
.posts-section {
  .section-title {
    padding-top: 66px;
    padding-bottom: 24px;
  }
  .posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    margin-bottom: 70px;
    .posts__element {
      max-width: 560px;
      display: flex;
      img {
        margin-right: 20px;
      }
      .posts-element__description-wrapper {
        .posts-element__title {
          color: $subtitleMainPartColor;
          text-transform: capitalize;
          font-weight: 700;
          font-family: "Roboto";
          font-style: normal;
          line-height: 30px;
        }
        .posts-element__sub-desc {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #7c7c7c;
        }
        .posts-element__desc {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          margin-top: 13px;
          color: #5c5c5c;
        }
      }
    }
  }
}
@media screen and (min-width: 520px) {
  .posts-element__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .posts__element {
    flex-direction: column;
    .posts-element__description-wrapper {
      .posts-element__title {
        margin-top: 11px;
        font-size: 14px;
      }
      .posts-element__desc {
        display: none;
      }
    }
  }
}
