@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("/dist/fonts/Roboto-Regular.woff2");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: url("/dist/fonts/Roboto-Bold.woff2");
}
